@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


*
{ 
    margin: 0;
    padding: 0;
}

.header
{
    width: 100%;
    height: 90px;
    background-color: #292929;
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#title
{
        color: white;
        font-size: 26pt;
}

.header-links
{
    font-family: 'Oswald', sans-serif;
    color: white;
    transition: 0.3s;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.header-links:hover
{
    transition:0.3s;
    color: #c60000;
}

.line{
    width: 100%;
    height: 4px;
    background-color: red;
}